* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

html, body {
    height: 100%;
    width: 100%;
}

.clear {
    clear: both;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    // height:100vh;
    height: 100%;
    overflow: hidden;
    background: url("../image/main.jpg") no-repeat center;
    background-size: cover;
}

.title {
    display: flex;
    color: blue;
    font-size: 48px;
    margin: 160px  auto 0;
}

.mainButton {
    display: flex;
    text-align: center;
    text-decoration: none;
    margin: 60px  auto 0;
    min-height: 30px;
    min-width: 178px;
    padding: 8px 58px;
    color: #fff;
    background-color: #008cff;
    font-size: 19px;
    line-height: 32px;
    border: 2px solid #666;
    border-radius: 19px;
}

.mainButton:hover {
    cursor: pointer;
    background-color: #0055ff;
}