* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

html, body {
    height: 100%;
    width: 100%;
}

.clear {
    clear: both;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100%;
    text-align: center;
    font-family: Georgia;
    font-size: 19px;
    line-height: 32px;
}

.header {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    color:#000;
    background-color: #e6e6e6;
    height: 62px;
    padding-top: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin: 0 auto;
    padding-top: 28px;
    background-color: #fff;
    text-align: center;
}

.formBlock {
    margin: 0 auto;
}

.inputForm {
    display: flex;
    margin: 20px;
    padding: 8px;
    min-height: 30px;
    min-width: 158px;
    font-size: 19px;
    line-height: 32px;
    border: 2px solid #666;
}

.buttonInput {
    display: block;
    text-align: center;
    margin: 20px;
    min-height: 30px;
    min-width: 252px;
    padding: 8px;
    color: #fff;
    background-color: #008cff;
    font-size: 19px;
    line-height: 32px;
    border: 2px solid #666;
    border-radius: 19px;
}

.buttonReg {
    box-sizing: border-box;
}

.buttonInput:hover {
    cursor: pointer;
    background-color: #0055ff;
}

.output {
    display: flex;
    margin: 0 auto;
    color: red;
}

.footer {
    display: flex;
    justify-content: center;
    padding-top: 28px;
}
