.firstinput {
    background-color: rgb(219, 215, 188);
    width: 300px;
    height: 40px;
    border-radius:  10px;
    border: 1px solid rgb(192, 187, 154);
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.secondinput {
    background-color: rgb(250, 247, 229);
    width: 300px;
    height: 70px;
    border: 1px solid rgb(192, 187, 154);
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.b1 {
    background-color: rgb(14, 51, 73);
    color: rgb(255, 255, 255);
    font-size: 9pt;
    border-radius:  10px;
    width: 300px;
    height: 40px;
    border: 2px solid rgb(8, 31, 53);
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
   }
.bckgrnd {
    background-image: url(./qwerty.jpg);
}