* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
html, body {
    height: 100%;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
}
.header {
    font-family: Times;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex: 0 auto;
    color:#000;
    background-color: #d1d1d1;
    height: 60px;
    padding-top: 30px;
}
.info {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: auto;
    padding-top: 150px;
    background-color: #fff;
    text-align: center;
}
.form-style {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}
.inputWindow {
    display: flex;
    height: 30px;
    font-style: Georgia;
    line-height: 32px;
    border: 1px solid dimgrey;
    padding: 24px;
    margin: 15px;
}
.buttonReg {
    margin: 15px;
}
.footer {
font-style: Georgia;
    display: flex;
    justify-content: center;
    flex: 0 auto;
    color:#000;
    background-color: #d1d1d1;
    height: 60px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

