@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.inputs {
	border: 1px solid black;
	font-size:18px;
	padding-left: 5px;
	height: 30px;
	width: 160px;
	padding-left: 5px;
}

.strip {
	display: flex;
	justify-content: center;
	align-items: center;
	background:#e6e6e6;
	font-size:14px; 
}

.strip_start {
    margin: auto;
    display: flex;
	justify-content: center;
    flex-direction: column;
}

.strip_text {
    display: flex;
}

#main{
	text-align: center;
}

#strip_start{
	height: 60px;
}

#strip_end{
	height: 30px;
	position: fixed;
	left: 0; bottom: 0;
	width: 100%;
}

#button_log {
	background:#008cff;
	border-radius: 12px;
	color: white;
	text-align: center;
	style:color:#FFFFFF;
}
#button_reg {
	background:#008cff;
	border-radius: 12px;
	color: white;
	text-align: center;
	style:color:#FFFFFF;
}