/* *{
    box-sizing: border-box;
    border: 1px solid red;
    
} */
/* Use the code above to see the edge of each block */

body {
    

    background-color: #000000;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 23px;
    color: #E5E5E5 
}

.center {
    max-width: 400px;
    margin: 0 auto;
}

input {
    font-size: 20\\;
    height: 23px;
}



.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
}

.bracket1 {
    height: 2px; 
    /* Today I don't know how to resize the picture */
}

.calculator {
   color: #F2E61A
}

/* 
.inputs {
    display: flex;
    max-width: 560px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.number1 {
    flex .order
}

.operator {

}

.button {
    border: solid 1px transparent;
    border-radius: 4px;

}

.number2 {

} */
